extends layout

block content
  .flex.justify-center
    .w-25.pa3.mr2
      .coffee-info
        #coffee-name loading...
        #coffee-left loading...
    .w-55.pa3.mr2
      .animation-container
        .coffee-bag-container
          .coffee-bag
            span.mast
            span.bag-top
            span.bag-body
            span.logo
              span.bean.bean-one
              span.bean.bean-two
            span.info.info-one
            span.info.info-two
            span.info.info-three
            span.bag-bottom
          // ./coffee-bag
        // ./coffee-bag-container
        span.grounds-container
          span.grounds.grounds-one
          span.grounds.grounds-two
          span.grounds.grounds-three
          span.grounds.grounds-four
        .filter
        // ./filter
        // TODO: create coffee grounds falling from the bag into the filter
        span.roasting-top
        .roasting-body
          span.handle-container
            span.handle-one
            span.handle-two
        // ./roasting-body
        // the black part between the coffee pot and the filter
        span.screen
        span.water-attachment
        span.water-lid
        span.water-pot
          span.water-pot-gloss
          span.fill-line.fill-line-first
          span.fill-line.fill-line-last
          span.water
        span.warmer-plate
        span.warmer
          span.warmer-accent.accent-one
          span.warmer-accent.accent-two
          span.warmer-accent.accent-three
        span.warmer-base
        span.coffee-pot-container
          span.coffee-pot-top
          span.coffee-pot-glass-top
          span.coffee-pot-glass-connector
          span.coffee-pot-glass-base
            span.coffee-pot-gloss
          span.coffee-pot-handle-container
            span.handle-top
            span.handle-bottom
          span.coffee-drip
          span.drip-cover
          span.coffee
        span.coffee-warmer-plate
        span.coffee-base-left-end
        span.coffee-maker-base
        span.control-panel
          span.gauge-one
          span.gauge-two
        span.coffee-base-right-end
        span.leg.leg-one
        span.leg.leg-two
